<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hustbillbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--注册hellochart图表库的.ChartsActivity-->
        <activity android:name=".activity.ChartsActivity"
            android:label="Chart">
        </activity>
        <!--注册自定义活动-->
        <activity android:name=".activity.AddRecordActivity"/>
        <activity android:name=".activity.AddAccountActivity"/>
        <activity android:name=".activity.SelectAccountActivity"/>
        <activity android:name=".activity.ViewAccountsActivity" />
        <activity android:name=".activity.ViewSpecificAccountActivity" />
        <activity android:name=".activity.EditAccountActivity" />

    </application>

</manifest>